<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>

    <section ng-controller="ToDoCtrl as $ctrl" class="app-section">
        <h1 class="title">Nicholas Cage's TODO List</h1>
        <section class="picture-container">
            <img class="face" src="face.png" />
        </section>
        <p onclick="playBees();">NOT THE BEES!</p>
                    <!--CLick me in the HTML....With or without headphones, it's your choice-->

        <form>
            <input placeholder="Filter Nic's to-dos" type="text" ng-model="$ctrl.filterList">

            <ol>
                <section ng-repeat="task in $ctrl.list | filter: $ctrl.filterList track by $index">
                    <li ng-class="{'completed': task.Completed === true}">  
                        <button
                        ng-if="task.Completed === false" 
                        ng-class="{'completed-btn': task.Completed === true}"
                        id="btn-complete"
                        ng-click="task.Completed = true">
                            Complete
                        </button>{{ task.Task }}<i ng-class="{'completed-icon': task.Completed === true}" class="material-icons" ng-click="$ctrl.removeTask($index);">clear</i></li>
                </section>
            </ol>



            <input onclick="playTell();" placeholder="TELL ME" type="text" ng-model="$ctrl.item">
            <button ng-click="$ctrl.addTask($ctrl.item)" class="add-btn" type="button">Add</button>
        </form>
    </section>

    <audio id="audio1">
        <source src="audio/not-the-bees.mp3">
    </audio>

    <audio id="audio2">
        <source src="audio/tell-me.mp3">
    </audio>



    <script src="https://code.angularjs.org/1.6.5/angular.js"></script> <!-- Always link this first-->
    <script src="module.js"></script>
    <script src="controller.js"></script>
    <script src="script.js"></script>
</body>

</html>